:root {
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
}

.error {
  color: #d64545;
}